<footer >
    <div class="container">
        <p>&copy; 2024 Example Inc. All rights reserved.</p>
        <ul style="list-style: none; padding: 0; margin: 0; display: flex; justify-content: center;">
            <li style="margin: 0 10px;">
                <a href="#">About Us</a>
            </li>
            <li style="margin: 0 10px;">
                <a href="#">Contact</a>
            </li>
            <li style="margin: 0 10px;">
                <a href="https://www.facebook.com" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" width="24">
                </a>
            </li>
            <li style="margin: 0 10px;">
                <a href="https://www.twitter.com" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Logo_of_Twitter.svg" alt="Twitter" width="24">
                </a>
            </li>
            <li style="margin: 0 10px;">
                <a href="https://www.instagram.com" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" width="24">
                </a>
            </li>
        </ul>
        <p>
            <a href="#">Privacy Policy</a> | 
            <a href="#">Terms of Service</a>
        </p>
    </div>
</footer>
